materialy_dodatkowe.md
c2.py
open3d_examples.py
cw2/clip_raster.py
cw2/clip_vector.py
cw2/downloading.py
cw2/ostatnie_cwiczenia.py
cw3/clip_raster.py
cw3/clip_vector.py
cw3/raster_dem_to_mesh.py
cw3/bubd_a_testowa.fgb
cw3/nmt.tif
destinationFolder/bdot0.zip
destinationFolder/bubda.cpg
destinationFolder/bubda.dbf
destinationFolder/bubda.prj
destinationFolder/bubda.shp
destinationFolder/bubda.shx
destinationFolder/mergedNmpt.tif
destinationFolder/mergedNmt_mesh.ply
destinationFolder/mergedNmt.tif
destinationFolder/PL.PZGiK.336.2209/BDOT10k/PL.PZGiK.336.2209__OT_BUBD_A.gfs
raster_dem_to_mesh.py
